* {
  border: none;
  border-radius: 8;
  font-family: "JetbrainsMono Nerd Font";
  font-size: 16px;
  min-height: 20px;
}

window#waybar {
  background: transparent;
}

window#waybar.hidden {
  opacity: 0.2;
}

#window {
  margin-top: 6px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 10px;
  transition: none;
  color: transparent;
  background: transparent;
}

#workspaces {
  margin-top: 6px;
  margin-left: 12px;
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 0px;
  border-radius: 10px;
  background: #181926;
  /* default: background: #161320; */
  transition: none;
}

#workspaces button {
  transition: none;
  color: #f5e0dc;
  /* default: color: #b5e8e0; */
  background: transparent;
  border-radius: 2px;
}

#workspaces button.active {
  color: #8aadf4;
}

#workspaces button:hover {
  transition: none;
  box-shadow: inherit;
  text-shadow: inherit;
  color: #e78284;
  border-color: #e78284;
  /* border-color: #e8a2af; */
  /* color: #e8a2af; */
}

#network {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 15px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #e78284;
  background: #181926;
  /*default: background: #bd93f9;*/
}

#wireplumber {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #f2d5cf;
  background: #181926;
}

#battery {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #8aadf4;
  background: #181926;
}

#battery.critical:not(.charging) {
  background-color: #181926;
  color: #8aadf4;
  animation-name: blink;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes blink {
  to {
    background-color: #181926;
    color: #bf616a;
  }
}

#tray {
  margin-top: 6px;
  margin-left: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  background: #181926;
}

#clock {
  margin-top: 6px;
  margin-left: 8px;
  margin-right: 8px;
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 0px;
  border-radius: 10px;
  transition: none;
  color: #a6d189;
  background: #181926;
  /*default: background: #abe9b3; */
}