window {
  border-radius: 10px;
  margin: 0px;
  border: 3px solid #7287fd;
  background-color: #303446;
  }
  
  #input {
    margin: 5px;
    border: none;
    color: #d8dee9;
    background-color: #303446;
    }
    
    #inner-box {
    margin: 5px;
    border: none;
    background-color: #303446; 
    }
    
    #outer-box {
    margin: 5px;
    border: none;
    background-color: #303446;
    }
    
    #scroll {
    margin: 0px;
    border: 1e1e1e;
    }
    
    #text {
    margin: 5px;
    border: none;
    color: #c4c4c4;
    }
    
    #entry:selected {
    background-color: #303446;
    }